<%= form_for(@member) do |f| %>
  <%= f.label :name %> : <%= f.text_field :name %>
  <%= f.label :year %> : <%= f.number_field :year %>
  <%= f.submit %>
<% end %>

<% @members.each do |member| %>
  <div>
    <%= member.name %> : <%= member.year %>
  </div>
<% end %>