<%= form_for(@member) do |f| %>
  <%= f.label :name %> : <%= f.text_field :name %>
  <%= f.label :year %> : <%= f.number_field :year %>
  <%= f.submit %>
<% end %>

<% @members.each do |member| %>
  <div>
    <%= member.name %> : <%= member.year %>
  </div>
<% end %>

<%= form_tag '/shuffle' do |f| %>
  <%= label_tag :groups_num %>
  <%= number_field_tag :groups_num %>
  <%= submit_tag 'shuffle' %>
<% end %>