<% @groups.each do |group| %>
  <div class="group">
    <div class="group_name">
      <%= group.name %>
    </div>
    <div class="group_members">
      <% group.members.each do |member| %>
        <div>
          <%= member.name %> : <%= member.year %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<%= form_for(@member) do |f| %>
  <%= f.label :name %> : <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :year %> : <%= f.number_field :year, class: 'form-control' %>
  <%= f.label :group_id %> : <%= f.number_field :group_id, class: 'form-control' %>
  <input type="hidden" name="page" value="map" %>
  <%= f.submit class: 'btn btn_blue' %>
<% end %>